[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "==2.0.1"
click = "*"
requests = "*"
logzero = "*"
lz4 = "*"
crc32c = "*"
psycopg2-binary = "*"

[dev-packages]
colorama = "*"
ipython = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
bandit = "*"
black = "==19.10b0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
